{% extends "base.html" %}


{% block content %}
<div class="container">
    <div class="row create-container">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-block">
                    <legend class="text-center">Create a meal!</legend>
                    <form action="/create/" method="post">

                        {% csrf_token %}
                        {% if error %}
                            <div class="alert alert-danger" role="alert">
                                <strong>ERROR!</strong> {{ error }}
                            </div>
                        {% endif %}
                        {% if created %}
                            <div class="alert alert-success" role="alert">
                                <strong>Sucess!</strong> Your meal was created.
                            </div>
                        {% endif %}
                        {% for error in form.non_field_errors %}
                           <div class="form-group has-errors text-danger small">
                               {{error}}
                           </div>
                        {% endfor %}
                        {% for field in form %}
                            <div class="form-group has-errors text-danger small">
                                {{field.errors}}
                            </div>
                            <div class="form-group has-errors text-danger small">
                            </div>
                            <div class="form-group">
                                <div class="form-group input-group">
                                    {{field}}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-lg btn-block" id="id_create">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
