<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Grubbr</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static "css/home.css" %}">
    </head>
    <body>

        <nav class="navbar navbar-toggleable-md navbar-inverse bg-info">
            <div class="container">
                <a class="navbar-brand" id="nav-logo" href="/">GRUBBR</a>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    {% if auth %}
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/create">Create Meal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout</a>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/register">Register</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Welcome to Grubbr!</h1>
                <p class="lead text-muted">A Marketplace where you can buy or sell homecooked meals. <br />Affordable | Healthy | Fun</p>
                <p>
                    {% if auth %}
                        <a href="#" class="btn btn-success">Create a Meal</a>
                    {% else %}
                        <a href="#" class="btn btn-info">Useless Button</a>
                        <a href="#" class="btn btn-secondary">Learn More</a>
                    {% endif %}
                </p>
            </div>
        </section>

        <div class="container" id="meal-container">
            <div class="card">
              <div class="card-block text-center" id="meal-heading">
                <h3 class="jumbotron-heading no-mb">Featured Meals</h3>
              </div>
            </div>
            <div class="row meal-row">
                {% if data %}
                    {% for meal in data %}
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-block meal-title">
                                    <h5 class="jumbotron-heading no-mb"><a href="/meal/{{meal.id}}">{{ meal.name }}</a></h5>
                                </div>
                                <img src="http://via.placeholder.com/300x200" alt="Card image">
                                <div class="card-block">
                                    <p class="card-text"><b>${{meal.price}}</b></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No meals avalible.</p>
                {% endif %}
            </div>
        </div>

        <footer id="myFooter">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <h2 class="logo"><a href="#"> GRUBBR </a></h2>
                    </div>
                    <div class="col-sm-3">
                        <div class="social-networks">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <button type="button" class="btn btn-default">Contact us</button>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <p>Copyright © 2017 Grubbr | All rights reserved.</p>
            </div>
        </footer>

    </body>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
</html>
