{% extends "base.html" %}


{% block content %}
<div class="container" id="meal-container">
    {% if data.name %}
        <div class="row">
            <div class="card-group">
                <div class="col-md-5">
                    <div class="card">
                        <img src="http://via.placeholder.com/300x300" alt="Card image">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">{{data.name}}</h4>
                            <p class="card-text">{{data.description}}</p>
                            <p class="card-text">{{data.price}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>Meal not found</p>
    {% endif %}
</div>
{% endblock %}
