{% extends "base.html" %}


{% block content %}
<div class="search-input">
    <div class="card">
      <div class="card-block">
          <div class="container">
              <form action="/search/" method="post">
                  <div class="input-group">
                      {% csrf_token %}
                       {{ form }}
                       <span class="input-group-btn">
                           <button class="btn btn-primary" type="submit" id="id_search_small"><i class="fa fa-search" aria-hidden="true"></i></button>
                       </span>
                  </div>
              </form>
          </div>
      </div>
    </div>
</div>
<div class="container">
    <div class="card">
      <div class="card-block">
          <h3>Results</h3>

          {% if results %}
                {% for result in results %}
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3 text-center">
                                    <img src="http://via.placeholder.com/200x200" class="img-responsive" style="padding: 2em" alt="Card image">
                                </div>
                                <div class="col-lg-9">
                                    <div>
                                        <h4 class="card-title"><a href="/meal/{{result.id}}">{{ result.name }}</a></h4>
                                        <h6 class="card-subtitle mb-2 text-muted">${{ result.price }}</h6>
                                        <h6 class="card-subtitle mb-2 text-muted">{{ result.portions }} portions</h6>
                                        <p class="card-text">
                                            {{ result.description }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
		    {% else %}
		    {% if search %}
	  <p>No results.</p>
	  {% else %}
          <p>Try searching for something!</p>
	  {% endif %}
            {% endif %}

      </div>
    </div>
</div>
{% endblock %}
