{% extends "base.html" %}


{% block content %}
<div class="search-input">
    <div class="card">
      <div class="card-block">
          <div class="container">
              <form action="/search/" method="post">
                  {% csrf_token %}
                   {{ form }}
                   <span class="input-group-btn">
                       <button class="btn btn-primary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                   </span>
              </form>
          </div>
      </div>
    </div>
</div>
<div class="container">
    <div class="card">
      <div class="card-block">
          <h3>Results</h3>

            {% if results %}
                {% for result in results %}
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3 text-center">
                                    <img src="http://via.placeholder.com/200x200" class="img-responsive" style="padding: 2em" alt="Card image">
                                </div>
                                <div class="col-lg-9">
                                    <div>
                                        <h4 class="card-title">{{ result.name }}</h4>
                                        <h6 class="card-subtitle mb-2 text-muted">${{ result.price }}</h6>
                                        <h6 class="card-subtitle mb-2 text-muted">{{ result.portions }} portions</h6>
                                        <p class="card-text">
                                            {{ result.description }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Try searching for something!</p>
            {% endif %}

      </div>
    </div>
</div>
{% endblock %}
