{% extends "base.html" %}


{% block content %}
<div class="search-input">
    <div class="card">
      <div class="card-block">
          <div class="container">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search">
                  <span class="input-group-btn">
                      <button class="btn btn-primary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                  </span>
              </div>
          </div>
      </div>
    </div>
</div>
<div class="container">
    <div class="card">
      <div class="card-block">
          <h3>Results</h3>

              <div class="card">

                  <div class="card-body">
                      <div class="row">
                          <div class="col-lg-3 text-center">
                              <img src="http://via.placeholder.com/200x200" class="img-responsive" style="padding: 2em" alt="Card image">
                          </div>
                          <div class="col-lg-9">
                              <div>
                                  <h4 class="card-title">Meal Name</h4>
                                  <h6 class="card-subtitle mb-2 text-muted">Price</h6>
                                  <h6 class="card-subtitle mb-2 text-muted">x portions</h6>
                                  <p class="card-text">
                                      Description Here
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

      </div>
    </div>
</div>
{% endblock %}
