body {
    background-color: #f7f7f7;
    height: 100%;
}

.wrapper {
    min-height: 100vh;
    position: relative;
}

#body {
    padding-bottom:80px;
}

#myFooter {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background-color: #3c3d41;
    color: white;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}
