@import "base.css";

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

#nav-logo {
    font-size: 30px;
}

#meal-container {
    margin-top: 1.5rem;
}

#meal-heading {
    padding: .75rem;
}

.meal-card {
    margin-bottom: 25px;
}

.meal-row {
    margin-top: 1.5rem;
    padding-left: 15px;
    padding-right: 15px;
}

.meal-title {
    padding: 10px
}

.no-mb {
    margin-bottom: 0;
}

#meal-container {
    margin-top: 2rem;
}
